body {
    font-family: 'Open Sans', sans-serif;
    background: #213c5e;
    padding: 0%;
    margin: 0%;
}

*:focus {
    outline: none;
}

/* Home & Login */

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home h1 {
    font-size: 3.2em;
    color: 	#6ebbeb;
}

#home a {
    background: #6ebbeb;
    border-radius: 12px;
    text-align: center;
    padding: 2%;
    width: 100px;
    font-size: 1.17em;
    color: #213c5e;
    text-decoration: none;
}

#home a:hover {
    background: #0e98da;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6ebbeb;
}

#login div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
}

#login label {
    margin-left: 2%;
    margin-bottom: 1%; 
    font-size: 1.1em;
}

#login input {
    margin-bottom: 4%;
    width: 268px;
    padding: 4%;
    border-radius: 12px;
    font-size: 1.25em;
    border: 4px solid #213c5e;
}

#login input:focus {
    outline: none;
    border: 4px solid #6ebbeb;
}

#login button {
    background: #6ebbeb;
    font-size: 1.17em;
    border: 0px;
    border-radius: 12px;
    width: 45%;
    padding: 4%;
    color: #213c5e;
    margin-top: 5%;
    margin-bottom: 15%;
}

#login button:hover {
    background: #0e98da;
    cursor: pointer;
}

/* Register Page */

#register {
    display: flex;
    flex-direction: column;
    color: #6ebbeb;
    padding: 4%;
    max-width: 100%;
}

#register div {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 5%;
}

#register > div > label {
    text-transform: uppercase;
    flex: 1 0 10px;
}

#register > div > input {
    width: 210px;
    padding: 1%;
    font-size: 1em;
    border: 2px solid #213c5e;
    border-radius: 8px;
} 

#register > div > input:focus {
    outline: none;
    border: 2px solid #6ebbeb;
}

#register button {
    text-align: center;
    margin-top: 8%;
    background: #6ebbeb;
    border: 0px;
    border-radius: 12px;
    padding: 2%;
    font-size: 1.4em;
    color: #213c5e;
    text-decoration: none;
}

#register button:hover {
    background: #0e98da;
    cursor: pointer;
}

/* Navbar */

#navbar {
    border-bottom: 2px solid #0e98da;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar button {
    font-size: 1em;
    color: #6ebbeb;
}

#navbar a {
    font-size: 1em;
    color: #6ebbeb;
    text-decoration: none;
}

#navbar #profile-link {
    width: 65px;
    max-width: 65px;
}

#navbar button {
    font-size: .9em;
    color: #213c5e;
    width: 65px;
    padding: 2%;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    background: #6ebbeb;
}

#navbar button:focus {
    outline: none;
}

#navbar img {
    max-width: 35px;
}

/* Profile */

#profile {
    background:	#6ebbeb;
    margin: 6%;
    padding: 4%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    color: #213c5e;
}

#profile h1 {
    margin-bottom: 0%;
}

#profileButtons {
    display: none;
}

#profileButtons-mobile {
    display: flex;
    justify-content: space-evenly;
    margin: 5%;
}

#profileButtons-mobile button {
    background: #213c5e;
    margin: 0% 2%;
    padding: 5%;
    width: 130px;
    border-radius: 12px;
    border: 0px;
    color: #6ebbeb;
    font-size: 1em;
}

#profileTweets > h3{
    margin: 3%;
    color: #6ebbeb;
}

#deleteAccount-mobile {
    margin: 2% 25%;
    padding: 2%;
    border-radius: 8px;
    border: 2px solid black;
    font-size: .8em;
    background: #F73939;
}

/* Edit Account */

#editAccount {
    display: flex;
    flex-direction: column;
}

#editAccount label {
    margin: 1%;
}

#editAccount input {
    font-size: 1em;
    padding: 2%;
    border-radius: 6px;
    border: none;
}

#editAccount button {
    background: #213c5e;
    padding: 4%;
    border-radius: 12px;
    border: 0px;
    color: #6ebbeb;
    font-size: 1em;
    margin: 0% 25%;
}

/* Send Tweet */

#sendTweet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sendTweet textarea {
    font-family: 'Open Sans', sans-serif;
    padding: 2%;
    margin: 2%;
    height: 70px;
    width: 300px;
    font-size: .9em;
    color: #213c5e;
    resize: none;
    border-radius: 12px;
}

#sendTweet div {
    color: #6ebbeb;
    width: 72%;
    display: flex;
    justify-content: space-between;
}

#sendTweet button {
    background: #6ebbeb;
    border: none;
    border-radius: 8px;
    width: 60px;
    font-size: 1em;
    padding: 2%; 
}

#sendTweet p {
    font-size: .75em;
    margin: 0%;
}

/* Tweet */

#tweet {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #0e98da;
    margin: 3%;
    padding: 3%;
    color: white;
}

.tweet-user > h3 {
    margin: 0% 0% 0% 2%;
}

.tweet-user a, .tweet-user a:visited {
    color: #6ebbeb;
    text-decoration: none;
}

.tweet-body {
    margin: 2%;
}

.tweet-body a {
    text-decoration: none;
    color: white;
}

.tweet-body > p {
    margin: 0%;
}

.tweet-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tweet-details {
    display: flex;
    align-items: center;
}

.tweet-details img {
    max-width: 18px;
}

.tweet-details #reply {
    max-width: 19px;
}

.tweet-details p, .tweet-details img {
    margin: 0% 20%;
}

.tweet-information img {
    max-width: 15px;
}

.tweet-information > p {
    font-size: .7em;
    margin: 2%;
    color: lightgrey;
}

/* Reply Timeline */

#replyLine {
    display: flex;
    width: 100%;
}

#replyLine > div {
    flex-grow: 2;
}

.replyTick, .replyTick h1 {
    border-right: 2px solid #6ebbeb;
    max-width: 20px;
}

/* Different Screen Sizes */ 

@media screen and (max-width: 330px) {
    #home h1 {
        font-size: 2.9em;
    }

    #register > div > input {
        width: 180px;
    }

    #sendTweet textarea {
        width: 280px;
    }

    #profileButtons-mobile button {
        padding: 5%;
        font-size: .9em;
    }

    #editAccount button {
        font-size: .96em;
    }

    #deleteAccount {
        font-size: .75em;
    }
}

@media screen and (min-width: 410px) {
    #register > div > input {
        width: 260px;
    }

    #sendTweet textarea {
        width: 320px;
    }

    .tweet-body a {
        font-size: 1.05em;
    }

    .tweet-information p {
        font-size: .75em;
    }

    .tweet-information img {
        max-width: 18px;
    }
}

@media screen and (min-width: 535px) {
    body {
        display: flex;
        justify-content: center;
    }

    #root {
        width: 75%;
    }

    * button:hover, * img:hover {
        cursor: pointer;
    }

    #home {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #home h1 {
        font-size: 4em;
        color: 	#6ebbeb;
        text-align: center;
    }

    #home a {
        background: none;
        color: #6ebbeb;
        border-radius: 12px;
        text-align: center;
        text-decoration: none;
        font-size: 1.1em;
        margin: 1%;
    }

    #home a:hover {
        background: none;
        color: #0e98da;
    }

    #register {
        align-items: center;
    }

    #register div {
        width: 400px;
        align-items: baseline;
    }

    #register div:last-child {
        width: 600px;
    }

    #register > div > input {
        font-size: 1.1em;  
    }

    #register label {
        font-size: 1.2em;
    }

    #register button {
        padding: 1.8%;
        font-size: 1.25em;
    }

    #navbar a {
        font-size: 1.3em;
    }

    #navbar #profile-link, #navbar button {
        max-width: 20%;
        width: 20%;
    }
    
    #profile-link:hover {
        color: #0e98da;
        cursor: pointer;
    }

    #navbar button {
        padding: 1.5%;
        font-size: 1.1em;
    }

    #navbar button:hover {
        background: #0e98da;
        cursor: pointer;
    }

    #profile {
        margin-top: 2%;
    }

    #editAccount button:hover {
        background: #0064a7;
    }

    #profileButtons-mobile, #deleteAccount-mobile {
        display: none;
    }
 
    #profileButtons {
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin: 2%;
        background: none;
    }
    
    #profileButtons > button:first-child, #deleteAccount {
        width: 35%;
    }

    #profileButtons button {
        font-size: 1em;
        background: none;
        border: none;
        color: #6ebbeb;
        text-align: center;
    }

    #profileButtons button:hover {
        text-decoration: underline;
    }

    #deleteAccount {
        background: #213c5e;
        color: #6ebbeb; 
    }

    #deleteAccount:hover {
        color: #F73939;
    }

    #editAccount {
        align-items: center;
    }

    #editAccount label, #editAccount input {
        width: 50%;
        font-size: 1.2em;
    }

    #editAccount button {
        padding: 3%;
        font-size: 1em;
    }

    #sendTweet textarea {
        font-size: 1.15em;
        width: 75%;
    }

    #sendTweet button {
        font-size: 1em;
        width: 20%;
    }

    #sendTweet p {
        font-size: .8em;
    }

    #tweet {
        margin: 2%;
        padding: 1%;
    }

    .tweet-user > h3 {
        font-size: 1.35em;
    }

    .tweet-body > p{
        font-size: 1.05em;
        margin-left: 1%;
    }

    .tweet-details img {
        max-width: 20px;
    }

    .tweet-details #reply {
        max-width: 22px;
    }

    .tweet-information > p {
        font-size: .8em;
    }

    .replyTick, .replyTick h1 {
        max-width: 40px;
    }
}

@media screen and (min-width: 750px) {
    #navbar #profile-link, #navbar button {
        width: 15%;
    }

    #profileButtons > button:first-child, #deleteAccount {
        width: 25%;
    }

    #editAccount button {
        padding: 3%;
        font-size: 1.1em;
    }
}

@media screen and (min-width: 950px) {
    #root {
        width: 60%;
    }
}

@media screen and (min-width: 1100px) {
    #root {
        width: 50%;
    }

    #navbar #profile-link, #navbar button {
        max-width: 15%;
        width: 15%;
    }

    #profileButtons > button:first-child, #deleteAccount {
        width: 25%;
    }

    #sendTweet button {
        font-size: 1.2em;
        width: 18%;
    }

    #sendTweet p {
        font-size: 1em;
    }

    .tweet-body > p{
        font-size: 1.15em;
    }

    .tweet-details img {
        max-width: 25px;
    }

    .tweet-details #reply {
        max-width: 26px;
    }

    .tweet-information > p {
        font-size: .9em;
    }
}

@media screen and (min-width: 1400px) {
    #editAccount button {
        padding: 2%;
        font-size: 1em;
    }
}