body {
    font-family: 'Open Sans', sans-serif;
    background: #213c5e;
    padding: 0%;
    margin: 0%;
}

*:focus {
    outline: none;
}

/* Home & Login */

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home h1 {
    font-size: 3.2em;
    color: 	#6ebbeb;
}

#home a {
    background: #6ebbeb;
    border-radius: 12px;
    padding: 4%;
    font-size: 1.17em;
    color: #213c5e;
    text-decoration: none;
}

#home a:hover {
    background: #0e98da;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6ebbeb;
}

#login div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
}

#login label {
    margin-left: 2%;
    margin-bottom: 1%; 
    font-size: 1.1em;
}

#login input {
    margin-bottom: 4%;
    width: 268px;
    padding: 4%;
    border-radius: 12px;
    font-size: 1.25em;
    border: 4px solid #213c5e;
}

#login input:focus {
    outline: none;
    border: 4px solid #6ebbeb;
}

#login button {
    background: #6ebbeb;
    font-size: 1.17em;
    border: 0px;
    border-radius: 12px;
    width: 45%;
    padding: 4%;
    color: #213c5e;
    margin-top: 5%;
    margin-bottom: 15%;
}

#login button:hover {
    background: #0e98da;
    cursor: pointer;
}

/* Register Page */

#register {
    display: flex;
    flex-direction: column;
    color: #6ebbeb;
    padding: 4%;
    max-width: 100%;
}

#register div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

#register > div > label {
    text-transform: uppercase;
    flex: 1 1 10px;
}

#register > div > input {
    width: 210px;
    padding: 1%;
    font-size: 1em;
    border: 2px solid #213c5e;
    border-radius: 6px;
} 

#register > div > input:focus {
    outline: none;
    border: 2px solid #6ebbeb;
}

#register button {
    margin-top: 8%;
    background: #6ebbeb;
    border: 0px;
    border-radius: 12px;
    padding: 2%;
    font-size: 1.4em;
    color: #213c5e;
    text-decoration: none;
}

#register button:hover {
    background: #0e98da;
    cursor: pointer;
}

/* Navbar */

#navbar {
    border-bottom: 2px solid #0e98da;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar button {
    font-size: 1em;
    color: #6ebbeb;
}

#navbar a {
    font-size: 1em;
    color: #6ebbeb;
    text-decoration: none;
}

#navbar button {
    font-size: .9em;
    color: #213c5e;
    width: 65px;
    padding: 2%;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    background: #6ebbeb;
}

#navbar button:focus {
    outline: none;
}

#navbar img {
    max-width: 35px;
}

/* Profile */

#profile {
    background:	#6ebbeb;
    margin: 6%;
    padding: 4%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    color: #213c5e;
}

#profile h1 {
    margin-bottom: 0%;
}

#profileButtons {
    display: flex;
    justify-content: space-evenly;
    margin: 5%;
}

#profileButtons button {
    background: #213c5e;
    padding: 5%;
    width: 130px;
    border-radius: 12px;
    border: 0px;
    color: #6ebbeb;
    font-size: 1em;
}

#profileTweets > h3{
    margin: 3%;
    color: #6ebbeb;
}

#deleteAccount {
    margin: 2% 25%;
    padding: 2%;
    border-radius: 8px;
    border: 2px solid black;
    font-size: .8em;
    background: #F73939;
}

/* Edit Account */

#editAccount {
    display: flex;
    flex-direction: column;
}

#editAccount label {
    margin: 1%;
}

#editAccount input {
    font-size: 1em;
    padding: 2%;
    border-radius: 6px;
    border: none;
}

#editAccount button {
    background: #213c5e;
    padding: 4%;
    border-radius: 12px;
    border: 0px;
    color: #6ebbeb;
    font-size: 1em;
    margin: 0% 25%;
}

/* Send Tweet */

#sendTweet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sendTweet textarea {
    font-family: 'Open Sans', sans-serif;
    padding: 2%;
    margin: 2%;
    height: 70px;
    width: 300px;
    font-size: .9em;
    color: #213c5e;
}

#sendTweet div {
    color: #6ebbeb;
    width: 72%;
    display: flex;
    justify-content: space-between;
}

#sendTweet button {
    background: #6ebbeb;
    border: none;
    border-radius: 4px;
    width: 60px;
    font-size: 1em;
    padding: 2%; 
}

#sendTweet p {
    font-size: .75em;
    margin: 0%;
}

/* Tweet */

#tweet {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #0e98da;
    margin: 3%;
    padding: 3%;
    color: white;
}

#tweet:last-child {
    border-bottom: none;
}

.tweet-user > h3 {
    color: #6ebbeb;
    margin: 0% 0% 0% 2%;
}

.tweet-body {
    margin: 2%;
}

.tweet-body > p {
    margin: 0%;
}

.tweet-date > p {
    font-size: .7em;
    margin: 2%;
}